*{
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    min-width: 600px;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
    padding: 2em;
    background-color: rgb(150,73,48);

}

.left_section {
    display: flex;
    padding: 1rem;
    color: silver;
    flex-direction: column;
    justify-content: flex-start;
}

.main_content {

}

.photo img {
   max-height: 200px;
    
}

.line_contacts {
    height: 1px;
    width: 100$;
    background-color: silver;
}
