.header {
    display: flex;
    flex-direction: column;
}

.header_img {
}

.header_name {
    text-align: center;
}

.header_first_name {
    text-align: center;
}

.header div {
    border: 1px solid silver;
    width: 30%;
}